<h1> Posts with a "<%= @tag.name %>" tag </h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %>

     </li>

    <% end %>
</ul>

<span class='back_button'> <%= link_to "BACK",tags_path, class: 'btn btn-success' %> </span>